/* Base */
body {
	color: #333333;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: 'Roboto Slab', sans-serif;
}

header, main {
	max-width: 510px;
	margin: 0 auto;
}

header {
	padding-top: 44px;
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 22px;
	padding-bottom: 22px;
	text-align: center;
	position: relative;
}

#avatar {
	display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 20px;

	background-image: url("../img/avatar.png");
	background-image: -webkit-image-set(
		url("../img/avatar.png") 1x,
		url("../img/avatar@2x.png") 2x
	);
	background-image: image-set(
		url("../img/avatar.png") 1x,
		url("../img/avatar@2x.png") 2x
	);
	background-position: center;
	background-repeat: no-repeat;
}

/* Typography */
a {
	text-decoration: none;
	color: #1565C0;
}

h1 {
	font-weight: 400;
	font-size: 34px;
	font-family: 'Domine', serif;
}

h2 {
	font-size: 18px;
	margin-top: 10px;
}

p {
	line-height: 1.8;
	margin-bottom: 27px;
	text-align: justify;
}

p:last-child {
	margin-bottom: 25px;
}

i {
    font-style: italic;
}

/* Responsive */
@media screen and (max-width: 540px) {
	header, main { padding: 20px; }
}
