body {
  background-color: #fafafa;
  color: #333333;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-size: calc(0.8rem + 0.25vw);
  font-weight: 400;
  line-height: 1.65;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, blockquote, figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

b, strong, th {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: inherit;
}

article a {
  color: #1565C0;
}

.archive a {
  color: #333333;
}

article header a, article footer a {
  color: inherit;
}

hr {
  border: 1px solid #9494944d;
  margin: 2em 0;
}

blockquote {
  background: #9494940f;
  border-left: 4px solid #1565C0;
  padding: 1px 1.5em;
}

img {
  border-radius: 2px;
  max-width: 100%;
  height: auto;
  margin: .5em 0;
}

table {
  box-shadow: 0 0 0 1px #9494941f inset;
  border-spacing: 1px;
  width: 100%;
}

tr:hover, tr:nth-child(odd) td {
  background: #94949410;
}

th, td {
  box-shadow: 0 0 0 1px #9494941f;
  padding: .5em 1em;
}

pre {
  background: #94949422;
  border-radius: 2px;
  font-size: .8em;
  margin: 1.5em 0;
  padding: .8em 1.2em;
  overflow-x: auto;
}

p code {
  font-size: .9em;
  background: #94949426;
  opacity: .75;
  border-radius: 2px;
  margin: 0 .1em;
  padding: .2em .4em;
}

body>header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E0E0E0;
}

#title {
  font-weight: 400;
  font-family: 'Domine', serif;
}

h1 {
  font-size: 1.7em;
}

header h1, header h2 {
  margin: 0;
}

nav {
  margin: .5em -.8em;
}

nav a {
  margin: 0 .3em;
}

body>header, article {
  padding: 1.5em;
}

@media (min-width: 40em) {
  body>header, article {
    padding: 1.5em calc(37% - 12rem);
    max-width: 1020px;
  }

  body>header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.meta {
  margin-top: .2em;
  margin-bottom: 1.5em;
}

.archive li {
  padding: .3em 0;
}

.archive a {
  font-size: 1.1em;
}

.archive time {
  display: inline-block;
  font-size: 1.05em;
  width: 6em;
  margin: 0 .25em;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #35363a;
		color: #fff;
	}

  article a {
    color: #6acafe;
  }
}
